{% extends 'base.html' %}

{% load static  %}

{% block menu_comercializacao %}active{% endblock menu_comercializacao %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="container">

	<h3>Compra</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'compra_listar' %}">Listar</a></li>
		<li role="presentation" class="active"><a href="#">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<form name="compra" method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="propriedade" class="col-sm-2 control-label">Propriedade</label>
			<div class="col-sm-3">
				<input class="form-control" id="propriedade" maxlength="250" name="propriedade" type="text" value="{{ request.user.perfilusuario.propriedade }}" disabled/>
			</div>
		</div>
		<div class="form-group">
			<label for="data_compra" class="col-sm-2 control-label">Data da compra</label>
			<div class="col-sm-2">
				<div class="input-group">
					{{ form.data_compra }}
					<label for="id_data_compra" class="input-group-addon btn">
						<span class="glyphicon glyphicon-calendar"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="lote" class="col-sm-2 control-label">Lote Compra</label>
			<div class="col-sm-2">
				<input class="form-control" id="lote" name="lote" type="number" value="{{ lote }}" >
			</div>
		</div>		
		<div class="form-group">
			<label for="fornecedor" class="col-sm-2 control-label">Fornecedor</label>
			<div class="col-sm-5">
				{{ form.fornecedor }}
			</div>
		</div>
		<div class="form-group">
			<label for="produto" class="col-sm-2 control-label">Produto</label>
			<div class="col-sm-3">
				{{ form.produto }}
			</div>
		</div>
		<div class="form-group">
			<label for="quantidade" class="col-sm-2 control-label">Unidades compradas</label>
			<div class="col-sm-2">
				{{ form.quantidade }}
			</div>
		</div>
		<div class="form-group">
			<label for="tipo_unidade" class="col-sm-2 control-label">Tipo unidade</label>
			<div class="col-sm-2">
				{{ form.tipo_unidade }}
			</div>
		</div>
		<div class="form-group">
			<label for="preco_unidade" class="col-sm-2 control-label">Preço unidade</label>
			<div class="col-sm-2">
				{{ form.preco_unidade }}
			</div>
		</div>
		<div class="form-group">
			<label for="valor_total" class="col-sm-2 control-label">Preço total</label>
			<div class="col-sm-2">
				{{ form.valor_total }}
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Cadastrar compra</button>
	</form>
	<p>&nbsp;</p>

</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/compra_cadastrar.js' %}"></script>

<script src="{% static 'js/formset.js' %}"></script>

<script type="text/javascript">
$(function() {

	initFormSets({prefixes:['compra']});

	$(".date-picker").datepicker();
	
});
</script>

<script>
	function soma()
	{
		compra.id_valor_total.value = (compra.id_quantidade.value*1) * (compra.id_preco_unidade.value*1)
	}
</script>

{% endblock extra_js %}