{% extends 'base.html' %}

{% load static  %}

{% block menu_comercializacao %}active{% endblock menu_comercializacao %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock extra_css %}


{% block content %}

<div class="container">

	<h3>Venda</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'venda_listar' %}">Listar</a></li>
		<li role="presentation" class="active"><a href="#">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<form name="venda" method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="propriedade" class="col-sm-2 control-label">Propriedade</label>
			<div class="col-sm-3">
				<input class="form-control" id="propriedade" maxlength="250" name="propriedade" type="text" value="{{ request.user.perfilusuario.propriedade }}" disabled/>
			</div>
		</div>
		<div class="form-group">
			<label for="data_venda" class="col-sm-2 control-label">Data da venda</label>
			<div class="col-sm-2">
				<div class="input-group">
					{{ form.data_venda }}
					<label for="id_data_venda" class="input-group-addon btn">
						<span class="glyphicon glyphicon-calendar"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="cliente" class="col-sm-2 control-label">Cliente</label>
			<div class="col-sm-5">
				{{ form.cliente }}
			</div>
		</div>
		<div class="form-group">
			<label for="origem" class="col-sm-2 control-label">Origem</label>
			<div class="col-sm-2">
				{{ form.origem }}
			</div>
		</div>
		<div id="lote_colheita">
			<div class="form-group">
				<label for="lote_colheita" class="col-sm-2 control-label">Lote Colheita</label>
				<div class="col-sm-5">
					{{ form.lote_colheita }}
				</div>
			</div>
		</div>
		<div id="lote_compra">
			<div class="form-group">
				<label for="lote_compra" class="col-sm-2 control-label">Lote Compra</label>
				<div class="col-sm-5">
					{{ form.lote_compra }}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="lote" class="col-sm-2 control-label">Lote Venda</label>
			<div class="col-sm-2">
				{{ form.lote }}
			</div>
		</div>
		<div class="form-group">
			<label for="quantidade" class="col-sm-2 control-label">Unidades vendidas</label>
			<div class="col-sm-2">
				{{ form.quantidade }}
			</div>
		</div>
		<div class="form-group">
			<label for="preco_unidade" class="col-sm-2 control-label">Preço unidade</label>
			<div class="col-sm-2">
				{{ form.preco_unidade }}
			</div>
		</div>
		<div class="form-group">
			<label for="valor_total" class="col-sm-2 control-label">Preço total</label>
			<div class="col-sm-2">
				{{ form.valor_total }}
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Cadastrar venda</button>
	</form>
	<p>&nbsp;</p>

</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/venda_cadastrar.js' %}"></script>

<script src="{% static 'js/formset.js' %}"></script>

<script type="text/javascript">
$(function() {

	initFormSets({prefixes:['venda']});

	$(".date-picker").datepicker();
	
});
</script>

<script>
	function soma()
	{
		venda.id_valor_total.value = (venda.id_quantidade.value*1) * (venda.id_preco_unidade.value*1)
	}
</script>

{% endblock extra_js %}