{% extends 'base.html' %}

{% load static  %}

{% block content %}


<div class="container">

	<h3>O Sistema</h3>
	<p>&nbsp;</p>
	<p>O Sistema Georreferenciado de Gerenciamento Agrícola (Segrega) permite identificar, mapear e sumarizar todo o processo produtivo agrícola com foco na rastreabilidade. </p>

	<p>O SEGREGA é produto de pesquisa do professor <a href="http://lattes.cnpq.br/6382751265861235" target="_blank">Diamantino Pereira</a> do programa de Pós Graduação em Mudanças Sociais e Participação Política (ProMusPP) e do curso de graduação em Gestão Ambiental da Escola de Artes, Ciências e Humanidades da Universidade de São Paulo <a href="http://www5.each.usp.br/" target="_blank">EACH-USP</a>).</p>

	<p>Este trabalho está licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons - Atribuição-CompartilhaIgual 4.0 Internacional</a>.</p>

	<p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></p>

</div>

{% endblock content %}