{% extends 'base.html' %}

{% load static  %}

{% block menu_adubacao %}active{% endblock menu_adubacao %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock extra_css %}


{% block content %}


<div class="container">

	<h3>Adubação</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'adubacao_listar' %}">Listar</a></li>
		<li role="presentation" class="active"><a href="#">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			{% for field in form %}
				{% for error in field.errors %}
						<p><strong>{{ error|escape }}</strong></p>
				{% endfor %}
			{% endfor %}
		</div>
	{% endif %}

	<form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="data_adubacao" class="col-sm-2 control-label">Data da adubação</label>
			<div class="col-sm-2">
				<div class="input-group">
					{{ form.data_adubacao }}
					<label for="id_data_adubacao" class="input-group-addon btn">
						<span class="glyphicon glyphicon-calendar"></span>
	                </label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="lote" class="col-sm-2 control-label">Lote</label>
			<div class="col-sm-2">
				{{ form.lote }}
			</div>
		</div>
		<div class="form-group">
			<label for="tipo_preparo" class="col-sm-2 control-label">Propriedade</label>
			<div class="col-sm-3">
				<input class="form-control" id="id_praga_doenca" maxlength="250" name="praga_doenca" type="text" value="{{ request.user.perfilusuario.propriedade }}" disabled/>
			</div>
		</div>
		<div class="form-group">
			<label for="talhao" class="col-sm-2 control-label">Talhão/Gleba</label>
			<div class="col-sm-3">
				{{ form.talhao_gleba }}
			</div>
		</div>
		<div class="form-group">
			<label for="tipo_preparo" class="col-sm-2 control-label">Tipo da adubação</label>
			<div class="col-sm-3">
				{{ form.tipo_adubacao }}
			</div>
		</div>
		<div class="form-group">
			<label for="equipamento" class="col-sm-2 control-label">Equipamento</label>
			<div class="col-sm-3">
				{{ form.equipamento }}
			</div>
		</div>
		<div class="form-group">
			<label for="horas_maquina" class="col-sm-2 control-label">Horas Máquina</label>
			<div class="col-sm-2">
				{{ form.horas_maquina }}
			</div>
		</div>
		<div class="form-group">
			<label for="insumo" class="col-sm-2 control-label">Insumo</label>
			<div class="col-sm-3">
				{{ form.insumo }}
			</div>
		</div>
		<div class="form-group">
			<label for="quantidade" class="col-sm-2 control-label">Quantidade</label>
			<div class="col-sm-2">
				{{ form.quantidade }}
			</div>
		</div>
		{{ mdo_formset.management_form }}
		<div class="row adubacao_row">
			<div class="form-group">
				<label for="nome" class="col-sm-offset-2 col-sm-3">Trabalhador</label>
				<label for="horas" class="col-sm-2 ">Horas trabalhadas</label>
			</div>
			{% for form_mdo in mdo_formset %}
			<div class="wrapper">

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-3">
						{{ form_mdo.nome }}
						{% if form_mdo.nome.errors %}
						{% for error in form_mdo.nome.errors %}
						{{ error|escape }}
						{% endfor %}
						{% endif %}
					</div>
					<div class="col-sm-2">
						{{ form_mdo.horas }}
						{% if form_mdo.horas.errors %}
						{% for error in form_mdo.horas.errors %}
						{{ error|escape }}
						{% endfor %}
						{% endif %}
					</div>
				</div>

			</div>
			<div style="display: none">
				{{ form_mdo.id }}
				{{ form_mdo.DELETE }}
			</div>
			{% endfor %}
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-4">
				<a class="btn btn-danger btn-xs removeForm" data-formset="adubacao" title="Remover"><i class="glyphicon glyphicon-minus"></i></a>
				<a class="btn btn-success btn-xs addForm" data-formset="adubacao" title="Adicionar"><i class="glyphicon glyphicon-plus"></i></a>
			</div> 
		</div>


		<button type="submit" class="btn btn-primary">Cadastrar Adubação</button>
	</form>
	<p>&nbsp;</p>

</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>

<script src="{% static 'js/formset.js' %}"></script>

<script type="text/javascript">
$(function() {


	initFormSets({prefixes:['adubacao']});

	$(".date-picker").datepicker();
	
});
</script>

{% endblock extra_js %}