{% extends 'base.html' %}

{% load static  %}

{% block menu_fito %}active{% endblock menu_fito %}

{% block content %}


<div class="container">
	{% include 'messages.html' %}
	<h3>Fitossanidade</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">Listar</a></li>
		<li role="presentation"><a href="{% url 'fitossanidade_cadastrar' %}">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	<table class=table> 
		<!-- <caption>Optional table caption.</caption> -->
		<thead> 
			<tr>
				<th>Lote 
					<a href="{% url 'fitossanidade_listar' %}?order=lote"><span class="glyphicon glyphicon-sort-by-attributes" style="font-size:12px;"></a>
					<a href="{% url 'fitossanidade_listar' %}?order=-lote"><span class="glyphicon glyphicon-sort-by-attributes-alt" style="font-size:12px;"></a>
				</th>
				<th>Data 
					<a href="{% url 'fitossanidade_listar' %}?order=data_fito"><span class="glyphicon glyphicon-sort-by-attributes" style="font-size:12px;"></span></a>
					<a href="{% url 'fitossanidade_listar' %}?order=-data_fito"><span class="glyphicon glyphicon-sort-by-attributes-alt" style="font-size:12px;"></span></a>
				</th> 
				<th>Talhão/Gleba</th> 
				<th>Praga/Doença</th>
				<th>Insumo
					<a href="{% url 'fitossanidade_listar' %}?order=insumo"><span class="glyphicon glyphicon-sort-by-attributes" style="font-size:12px;"></a>
					<a href="{% url 'fitossanidade_listar' %}?order=-insumo"><span class="glyphicon glyphicon-sort-by-attributes-alt" style="font-size:12px;"></span></a>
				</th> 
				<th>Quant.</th>
				<th>Mdo Alocada</th> 
				<th>Gerenciar</th> 
			</tr> 
		</thead> 
		<tbody> 
			{% for lote in lote %}
			<tr> 
				<th scope=row>{{ lote.lote }}</th> 
				<td>{{ lote.data_fito }}</td> 
				<td>{% for tb in lote.talhao_gleba.all %} {{ tb }} / {% endfor %}</td> 
				<td>{{ lote.praga_doenca }}</td> 
				<td>{{ lote.insumo }} </td> 
				<td>{{ lote.quantidade }} {{ lote.insumo.insumo.get_unidade_display }}</td> 
				<td>{{ lote.fitossanidade.all.count }}</td> 
				<td>
					<a href="{% url 'fitossanidade_editar' lote.id %}"><img src="{% static 'img/edit.png' %}" alt="editar"></a>
					<a href="{% url 'fitossanidade_remover' lote.id %}" onclick="return confirm('Apagar registro?')"><img src="{% static 'img/delete.png' %}" alt="apagar"></a>
				</td> 
			</tr> 
			{% endfor %}

		</tbody> 
	</table> 


	</div>

	{% endblock content %}