{% extends 'base.html' %}

{% load static  %}

{% block menu_plantio %}active{% endblock menu_plantio %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock extra_css %}


{% block content %}


<div class="container">

	<h3>Plantio</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'plantio_listar' %}">Listar</a></li>
		<li role="presentation" class="active"><a href="#">Cadastrar</a></li>
		<li role="presentation"><a href="{% url 'plantio_relatorio' %}">Síntese</a></li>
	</ul>

	<p>&nbsp;</p>
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			{% for field in form %}
				{% for error in field.errors %}
						<p><strong>{{ error|escape }}</strong></p>
				{% endfor %}
			{% endfor %}
		</div>
	{% endif %}
		
	<form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="propriedade" class="col-sm-2 control-label">Propriedade</label>
			<div class="col-sm-3">
				<input class="form-control" id="propriedade" maxlength="250" name="propriedade" type="text" value="{{ request.user.perfilusuario.propriedade }}" disabled/>
			</div>
		</div>
		<div class="form-group">
			<label for="data_plantio" class="col-sm-2 control-label">Data do plantio</label>
			<div class="col-sm-2">
				<div class="input-group">
					{{ form.data_plantio }}
					<label for="id_data_plantio" class="input-group-addon btn">
						<span class="glyphicon glyphicon-calendar"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="lote" class="col-sm-2 control-label">Lote Plantio</label>
			<div class="col-sm-2">
				{{ form.lote }}
			</div>
		</div>
		<div class="form-group">
			<label for="talhao" class="col-sm-2 control-label">Talhão/Gleba</label>
			<div class="col-sm-3">
				{{ form.talhao_gleba }}
			</div>
		</div>
		<div class="form-group">
			<label for="origem" class="col-sm-2 control-label">Origem</label>
			<div class="col-sm-2">
				{{ form.origem }}
			</div>
		</div>
		<div id="lote_semeio">
			<div class="form-group">
				<label for="lote_semeio" class="col-sm-2 control-label">Lote Semeio</label>
				<div class="col-sm-4">
					{{ form.lote_semeio }}
				</div>
			</div>
		</div>
		<div id="produto">
			<div class="form-group">
				<label for="produto" class="col-sm-2 control-label">Produto</label>
				<div class="col-sm-4">
					{{ form.produto }}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="tipo_plantio" class="col-sm-2 control-label">Tipo da Unidade</label>
			<div class="col-sm-2">
				{{ form.tipo_plantio }}
			</div>
		</div>
		<div class="form-group">
			<label for="unidades" class="col-sm-2 control-label">Unidades</label>
			<div class="col-sm-2">
				{{ form.unidades }}
			</div>
		</div>
		{{ mdo_formset.management_form }}
		<div class="row plantio_row">
			<div class="form-group">
				<label for="nome" class="col-sm-offset-2 col-sm-3">Trabalhador</label>
				<label for="horas" class="col-sm-2 ">Horas trabalhadas</label>
			</div>
			{% for form_mdo in mdo_formset %}
			<div class="wrapper">

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-3">
						{{ form_mdo.nome }}
						{% if form_mdo.nome.errors %}
						{% for error in form_mdo.nome.errors %}
						{{ error|escape }}
						{% endfor %}
						{% endif %}
					</div>
					<div class="col-sm-2">
						{{ form_mdo.horas }}
						{% if form_mdo.horas.errors %}
						{% for error in form_mdo.horas.errors %}
						{{ error|escape }}
						{% endfor %}
						{% endif %}
					</div>
				</div>

			</div>
			<div style="display: none">
				{{ form_mdo.id }}
				{{ form_mdo.DELETE }}
			</div>
			{% endfor %}
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-4">
				<a class="btn btn-danger btn-xs removeForm" data-formset="plantio" title="Remover"><i class="glyphicon glyphicon-minus"></i></a>
				<a class="btn btn-success btn-xs addForm" data-formset="plantio" title="Adicionar"><i class="glyphicon glyphicon-plus"></i></a>
			</div> 
		</div>


		<button type="submit" class="btn btn-primary">Cadastrar Plantio</button>
	</form>
	<p>&nbsp;</p>

</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/plantio_cadastrar.js' %}"></script>

<script src="{% static 'js/formset.js' %}"></script>

<script type="text/javascript">
$(function() {


	initFormSets({prefixes:['plantio']});

	$(".date-picker").datepicker();
	
});
</script>

{% endblock extra_js %}