{% extends 'base.html' %}

{% load static  %}

{% block menu_semeio %}active{% endblock menu_semeio %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock extra_css %}


{% block content %}


<div class="container">

	<h3>Semeio</h3>

	<p>&nbsp;</p>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="{% url 'semeio_listar' %}">Listar</a></li>
		<li role="presentation" class="active"><a href="#">Cadastrar</a></li>
		
	</ul>

	<p>&nbsp;</p>
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			{% for field in form %}
				{% for error in field.errors %}
						<p><strong>{{ error|escape }}</strong></p>
				{% endfor %}
			{% endfor %}
		</div>
	{% endif %}

	<form name="semeio" method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="propriedade" class="col-sm-2 control-label">Propriedade</label>
			<div class="col-sm-3">
				<input class="form-control" id="propriedade" maxlength="250" name="propriedade" type="text" value="{{ request.user.perfilusuario.propriedade }}" disabled/>
			</div>
		</div>
		<div class="form-group">
			<label for="data_semeio" class="col-sm-2 control-label">Data do semeio</label>
			<div class="col-sm-2">
				<div class="input-group">
					{{ form.data_semeio }}
					<label for="id_data_semeio" class="input-group-addon btn">
						<span class="glyphicon glyphicon-calendar"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="lote" class="col-sm-2 control-label">Lote</label>
			<div class="col-sm-2">
				{{ form.lote }}
			</div>
		</div>
		<div class="form-group">
			<label for="lote" class="col-sm-2 control-label">Viveiro</label>
			<div class="col-sm-3">
				{{ form.viveiro }}
			</div>
		</div>
		<div class="form-group">
			<label for="produto" class="col-sm-2 control-label">Produto</label>
			<div class="col-sm-3">
				{{ form.produto }}
			</div>
		</div>
		<div class="form-group">
			<label for="n_bandejas" class="col-sm-2 control-label">Número de Bandejas</label>
			<div class="col-sm-2">
				{{ form.n_bandejas }}
			</div>
		</div>
		<div class="form-group">
			<label for="unidades" class="col-sm-2 control-label">Células por bandeja</label>
			<div class="col-sm-2">
				<input class="form-control" id="celulas_bandeja" name="celulas_bandeja" type="number" disabled>
			</div>
		</div>
		<div class="form-group">
			<label for="unidades" class="col-sm-2 control-label">Unidades</label>
			<div class="col-sm-2">
				{{ form.unidades }}
			</div>
		</div>
		{{ mdo_formset.management_form }}
		<div class="row semeio_row">
			<div class="form-group">
				<label for="nome" class="col-sm-offset-2 col-sm-3">Trabalhador</label>
				<label for="horas" class="col-sm-2 ">Horas trabalhadas</label>
			</div>
			{% for form_mdo in mdo_formset %}
			<div class="wrapper">

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-3">
						{{ form_mdo.nome }}
						{% if form_mdo.nome.errors %}
						{% for error in form_mdo.nome.errors %}
						{{ error|escape }}
						{% endfor %}
						{% endif %}
					</div>
					<div class="col-sm-2">
						{{ form_mdo.horas }}
						{% if form_mdo.horas.errors %}
						{% for error in form_mdo.horas.errors %}
						{{ error|escape }}
						{% endfor %}
						{% endif %}
					</div>
				</div>

			</div>
			<div style="display: none">
				{{ form_mdo.id }}
				{{ form_mdo.DELETE }}
			</div>
			{% endfor %}
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-4">
				<a class="btn btn-danger btn-xs removeForm" data-formset="semeio" title="Remover"><i class="glyphicon glyphicon-minus"></i></a>
				<a class="btn btn-success btn-xs addForm" data-formset="semeio" title="Adicionar"><i class="glyphicon glyphicon-plus"></i></a>
			</div> 
		</div>


		<button type="submit" class="btn btn-primary">Cadastrar Semeio</button>
	</form>
	<p>&nbsp;</p>

</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/semeio_cadastrar.js' %}"></script>

<script src="{% static 'js/formset.js' %}"></script>

<script type="text/javascript">
$(function() {

	initFormSets({prefixes:['semeio']});

	$(".date-picker").datepicker();
	
});
</script>

<script>
	function soma()
	{
		semeio.id_unidades.value = (semeio.id_n_bandejas.value*1) * (semeio.celulas_bandeja.value*1)
	}
</script>

{% endblock extra_js %}