{% extends 'base.html' %}

{% load static  %}

{% block menu_relatorio %}active{% endblock menu_relatorio %}

{% block content %}


<div class="container">
	{% include 'messages.html' %}

	<h3>Talhão/Gleba: {{ talhao_gleba.talhao }}.{{ talhao_gleba.gleba }}</h3>
	<h4>Área: {{ talhao_gleba.area }}</h4>

	<p>&nbsp;</p>

	<h4>Preparo do Solo</h4>

	{% if preparosolo.all %}
	<table class=table> 
		<thead> 
			<tr>
				<th>Lote</th>
				<th>Data</th> 
				<th>Tipo</th>
				<th>Insumo</th> 
				<th>Quant.</th>
				<th>Mdo Alocada</th> 

			</tr> 
		</thead> 
		<tbody> 
			{% for lote in preparosolo %}
			<tr> 
				<th scope=row>{{ lote.lote }}</th> 
				<td>{{ lote.data_preparo }}</td> 
				<td>{{ lote.tipo_preparo }}</td> 
				<td>{{ lote.insumo }}</td> 
				<td>{{ lote.quantidade }} {{ lote.insumo.insumo.get_unidade_display }}</td> 
				<td>{{ lote.preparo.all.count }}</td> 

			</tr> 
			{% endfor %}

		</tbody> 
	</table> 
	{% else %}
		<p>Não há atividades de Preparo do Solo nesse Talhão/Gleba<p>
		<p>&nbsp;</p>
	{% endif %}

	<h4>Adubação</h4>

	{% if adubacao.all %}
	<table class=table> 
		<thead> 
			<tr>
				<th>Lote</th>
				<th>Data</th> 
				<th>Tipo</th>
				<th>Insumo</th> 
				<th>Quant.</th>
				<th>Mdo Alocada</th> 

			</tr> 
		</thead> 
		<tbody> 
			{% for lote in adubacao %}
			<tr> 
				<th scope=row>{{ lote.lote }}</th> 
				<td>{{ lote.data_adubacao }}</td> 
				<td>{{ lote.tipo_adubacao }}</td> 
				<td>{{ lote.insumo }}</td> 
				<td>{{ lote.quantidade }} {{ lote.insumo.insumo.get_unidade_display }}</td> 
				<td>{{ lote.adubacao.all.count }}</td> 

			</tr> 
			{% endfor %}

		</tbody> 
	</table> 
	{% else %}
		<p>Não há atividades de Adubação nesse Talhão/Gleba<p>
		<p>&nbsp;</p>
	{% endif %}

	<h4>Plantio</h4>

	{% if plantio.all %}
	<table class=table> 
		<thead> 
			<tr>
				<th>Lote</th>
				<th>Data</th> 
				<th>Produto</th>
				<th>Unidades</th> 
				<th>Mdo Alocada</th> 

			</tr> 
		</thead> 
		<tbody> 
			{% for lote in plantio %}
			<tr> 
				<th scope=row>{{ lote.lote }}</th> 
				<td>{{ lote.data_plantio }}</td> 
				<td>{{ lote.produto }}</td> 
				<td>{{ lote.unidades }}</td> 
				<td>{{ lote.plantio.all.count }}</td> 

			</tr> 
			{% endfor %}

		</tbody> 
	</table>
	{% else %}
		<p>Não há atividades de Plantio nesse Talhão/Gleba<p>
		<p>&nbsp;</p>
	{% endif %}

	<h4>Fitossanidade</h4>

	{% if fitossanidade.all %}
	<table class=table> 
		<thead> 
			<tr>
				<th>Lote</th>
				<th>Data</th> 
				<th>Praga/Doença</th>
				<th>Insumo aplicado</th> 
				<th>Quant.</th>
				<th>Mdo Alocada</th> 

			</tr> 
		</thead> 
		<tbody> 
			{% for lote in fitossanidade %}
			<tr> 
				<th scope=row>{{ lote.lote }}</th> 
				<td>{{ lote.data_fito }}</td> 
				<td>{{ lote.praga_doenca }}</td> 
				<td>{{ lote.insumo }}</td> 
				<td>{{ lote.quantidade }} {{ lote.insumo.insumo.get_unidade_display }}</td> 
				<td>{{ lote.fitossanidade.all.count }}</td> 

			</tr> 
			{% endfor %}

		</tbody> 
	</table>
	{% else %}
		<p>Não há atividades de Fitossanidade nesse Talhão/Gleba<p>
		<p>&nbsp;</p>
	{% endif %}

	<h4>Colheita</h4>

	{% if colheita.all %}
	<table class=table> 
		<thead> 
			<tr>
				<th>Lote</th>
				<th>Data</th> 
				<th>Produto</th>
				<th>Unidades</th> 
				<th>Mdo Alocada</th> 

			</tr> 
		</thead> 
		<tbody> 
			{% for lote in colheita %}
			<tr> 
				<th scope=row>{{ lote.lote_plantio.lote }}.{{ lote.lote }}</th> 
				<td>{{ lote.data_colheita }}</td> 
				<td>{{ lote.lote_plantio.produto }}</td> 
				<td>{{ lote.unidades }} {{ lote.get_tipo_unidade_display }}</td> 
				<td>{{ lote.colheita.all.count }}</td> 

			</tr> 
			{% endfor %}

		</tbody> 
	</table> 
	{% else %}
		<p>Não há atividades de Colheita nesse Talhão/Gleba<p>
		<p>&nbsp;</p>
	{% endif %}

	</div>

	{% endblock content %}